<div id="footer-wrap">
  <div class="markdown">
    <div id="about"></div>
    <%- footerContent['about.md'] %>

    <div class="separator light spacious"></div>

    <div id="contact"></div>
    <%- footerContent['contact.md'] %>

    <div class="separator light spacious"></div>

    <div id="tourism-resources"></div>
    <%- footerContent['tourismResources.md'] %>

    <div class="separator light spacious"></div>

    <div id="attraction-links"></div>
    <%- footerContent['attractionLinks.md'] %>

    <div class="separator light spacious"></div>

    <%- footerContent['disclaimer.md'] %>
  </div>
</div>
